* -text
*.py text eol=lf
*.md text eol=lf
module/*.sh text eol=lf
/.gitignore text eol=lf
/.gitattributes text eol=lf
/version.json text eol=lf
/supported-camera.json text eol=lf
/third-party.json text eol=lf
/verification.json text eol=lf
成品/*.apk filter=lfs diff=lfs merge=lfs -text
成品/*.zip filter=lfs diff=lfs merge=lfs -text