<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phoenix.camera.authvignette">
    <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="35" />
    <application android:label="PhoenixAddon-AUTHVignette" android:allowBackup="false" android:hasCode="true" android:extractNativeLibs="false">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="PhoenixAddon-AUTHVignette：徕卡经典暗角着色器" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
    </application>
</manifest>
